html {
  min-height: 100%;
}
body {
  font-family: "Alegreya Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: -webkit-linear-gradient(to bottom, #373a3b, #000d12);
  background: linear-gradient(to bottom, #373a3b, #000d12);
  min-height: 100%;
}
.albumMain {
  margin-top: -75vh;
  margin-bottom: 50px;
}
.spotifyMain {
  margin-top: -75vh;
}
.authorise {
  margin-top: 75vh;
}
.authorise .btn-authorise {
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #1db954;
  color: #000000;
  border-color: #4e4b05;
}
h2 {
  color: #eee469;
}
.modal {
  top: 25%;
}
.modal .btn {
  width: auto;
}
