/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
}

/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
}

html,
body {
  font-family: "Alegreya Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: -webkit-linear-gradient(to bottom, #373a3b, #000d12);
  background: linear-gradient(to bottom, #373a3b, #000d12);
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.albumMain {
  margin-top: -75vh;
  margin-bottom: 20px;
}
.spotifyMain {
  margin-top: -75vh;
  height: 100%;
  height: 100vh;
}
.authorise {
  margin-top: 75vh;
}
.authorise .btn {
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #1db954;
  color: #000000;
  border-color: #4e4b05;
}
h2 {
  color: #eee469;
}
